div.Co_LC_L {
    float: left;
    padding-bottom: 10px;
    width: 238px;
}

.listnews 
{
    float: left;
    padding: 5px 0 10px;
    width: 820px;
}
div.left_block {
    margin-top: 10px;
    width: 100%;
}
div.left_block_T1 {
    background: url("../images/block_T.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    padding: 15px 5px 5px 15px;
    text-align: left;
    width: 218px;
}

div.left_block_M {

    background: none repeat scroll 0 0 #FFFFFF;
    border-image: none;
    width: 236px;
	font-family: 'Arial' !important;
    font-size: 13px;
    text-align: center;
}

ul.menu_page {
    list-style: none outside none;
    margin-left: 0;
    text-align: left;
    width: 230px;
}
ul.menu_page li {
    border-bottom: 1px solid #E3E3E3;
    border-top: 1px solid #FCFCFC;
    cursor: pointer;
    padding: 0 10px 0 0;
    width: 226px;
}

ul.menu_page a, ul.menu_page a:visited {
    color: #666666;
    display: block;
    min-height: 27px;
    padding: 10px 0 0 10px;
    text-decoration: none;
    width: 220px;
}
ul.menu_page a:hover {
	color:#09F;
}

h2.title_inside {
    font-size: 1.8em;
    font-weight: bold;
    margin: 10px 0 6px;
    text-align: left;
}

div.listnews_content 
{
    background: none repeat scroll 0 0 #FFFFFF;
    color: #1E1E1D;
    font-size: 13px !important;
    line-height: 18px;
    padding:10px 7px 0 18px;
    text-align: left;
}

div.detailnews_content 
{
    background: none repeat scroll 0 0 #FFFFFF;
    color: #1E1E1D;
    font-size: 13px !important;
    line-height: 18px;
    padding: 10px 20px 0px;
    text-align: left;
	line-height:20px;
}

div.listnews_content img
{
    width: 245px;
	height:180px;
}

div.detailnews_content img
{
	    margin: 0 auto;
    display: block;
    padding-top: 5px;
    padding-bottom: 20px;
}

div.listnews_content h4.title_item1 
{
    color: #1AB231;
    font-family: 'Arial' !important;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
    padding:10px 0 6px;
    text-align: left;
}

div.detailnews_content .title_item1 
{
    color: #1ab231;
    font-family: "Arial" !important;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 5px 0 15px;
    text-align: left;
}

.news
{
	border-bottom: 1px dashed #ccc;
    float: left;
    font-family: "Arial";
    font-size: 13px;
    height: 330px;
    line-height:20px;
    margin:5px 15px 25px 0;
    overflow: hidden;
    padding-bottom: 10px;
    text-align: justify;
    width: 255px;
}

.news:nth-child(3n)
{
	margin:5px 0px 25px 0;
}

.news p
{
	height: 57px;
    margin: 5px 0 3px;
    overflow: hidden;
    padding: 0 10px;
}

.news h3
{
	font-size: 14px;
    height: 42px;
    margin: 0;
    padding: 0 0 0 3px;
    text-align: left;
}
.news h3 a { 
	color:#555;
	text-decoration:none;
	font-family: 'Arial';
	font-size:13px;
}
.news h3 a:hover {
	color:#089115;
}
.img_left
{
    height: 135px;
    width: 235px;
}
.news .images {
	padding:2px;
	border:1px #ccc solid;
}
.xemtep 
{
	text-align:right;
}

.xemtep a 
{
    color: #f00 !important;
    padding-right: 10px;
    text-decoration: none;
}

.xemtep a:hover
{
	text-decoration:underline;
}

h2.date_news 
{
	color: #666;
    font-family: "Arial";
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    line-height: 1em;
    margin: 7px 0 0;
    padding: 0 0 0 9px;
}

#news_banner
{
	padding-top: 10px;
}


#news_banner img 
{
    margin: auto;
    max-height: 300px;
    width: 1100px;
}

#sp_moi
{
    clear: both;
    margin: 0 10px 0 0;
}

#sp_moi #list_title
{
	border-bottom: 1px dashed #ccc;
    color: #333;
    font-family: 'Arial';
    font-size: 18px;
    margin: 15px 25px 15px 15px;
    padding: 0 0 10px 5px;
    text-transform: uppercase;
	text-align:left;
}

#tcl_title
{
	color: #f00;
    font-size: 18px;
    margin: 15px 0 5px;
}

.tcl_row
{
	line-height: 24px;
	background-image: url("../images/arrow.gif");
    background-position: left center;
    background-repeat: no-repeat;
	padding-left:10px;
}

.prodhot_box 
{
    border-bottom: 1px solid #e4e4e4;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin: 5px 0 15px 18px;
    min-height: 1px;
    position: relative;
    transition: all 0.2s ease-in-out 0s;
    width: 210px;
}


#prodhot 
{
    float: left;
    margin: 7px 0 0 7px;
    text-align: left;
    width: 240px;
}

#prodhot_info
{
    background-color: #5acb59;
    color: #fff;
    font-family: 'Arial';
    font-size: 16px;
    margin: 7px 5px 10px;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
}

.prodhot_image
{
    border: medium none;
    display: inline;
    height: 200px;
    margin-left: 5px;
    visibility: visible;
    width: 200px;
}

.prodhot_box .title 
{
    background: #f2f2f2 none repeat scroll 0 0;
    border: medium none !important;
    height: 68px;
    overflow: hidden;
    padding: 15px;
    position: relative;
}

.prodhot_box h2 
{
    height: 46px;
    line-height: 22px;
    overflow: hidden;
}

.prodhot_box h2 a 
{
    color: #454545;
    font-family: 'Arial';
    font-size: 15px;
    font-weight: normal;
    text-decoration: none;
}

.prodhot_box .view {
    background-image: url("../images/nut.png");
    bottom: 8px;
    display: block;
    height: 30px;
    position: absolute;
    right: 8px;
    width: 30px;
}


/*phần css câu hỏi thường gặp*/

.thuonggap_content
{
    background: none repeat scroll 0 0 #FFFFFF;
    color: #1E1E1D;
    font-size: 13px !important;
    line-height: 18px;
    padding:10px 7px 0 18px;
    text-align: left;
}

.thuonggap_box
{
	border-bottom: 1px dashed #ccc;
    float: none;
    font-family: "Arial";
    font-size: 13px;
    height: auto;
    line-height: 20px;
    margin: 5px 0px 20px 0;
    overflow: hidden;
    text-align: justify;
    width: 100%;
	padding: 0px 0px 20px 0px;
}


.thuonggap_box h3
{
    font-size: 15px;
    height: auto;
    margin: 0;
    padding: a;
    text-align: left;
}

.thuonggap_box h3 a 
{
    color: #329E52;
    font-family: "Arial";
    font-size: 15px;
    text-decoration: none;
}


.thuonggap_box .images 
{
    border: 1px solid #ccc;
    float: left;
    height: 130px;
    padding: 2px;
    margin: 0px 10px 0px 0px;
}

.thuonggap_img
{
    height: 130px;
    width: 180px;
}

.thuonggap_date
{
	color: #666;
    font-family: "Arial";
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    line-height: 1em;
    margin: 5px 0 5px;
    padding: 0;
}

.thuonggap_box p 
{
    height: 90px;
    margin: 5px 0 0px;
    overflow: hidden;
    padding: 0;
    overflow: hidden;
}

.thuonggap_info
{
	float: right;
    width: 595px;
}