.tip {
	width: 300px;
	padding-top: 10px;
	overflow: hidden;
	display: none;
	position: absolute;
	z-index: 500;
}
.tipMid {padding: 5px; padding-bottom:10px;
	border: solid 1px #38ee4b;
	background-color:#FFF;
	border-radius:5px;
	overflow:hidden;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:1.3.em;
	-moz-box-shadow: 0 0 5px #c9f6cd;
	-webkit-box-shadow: 0 0 5px #c9f6cd;
	box-shadow: 0 0 5px #c9f6cd;
}
.tipMid img { width:80px; float:left; border: solid 1px #DDDDDD; padding:1px; margin-right:5px;}
.tipBtm {background: transparent url(../images/goca.png) no-repeat; height: 10px; background-position: 20px bottom; margin-top:-1px;}